<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myrepoactivities.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myrepoactivities.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyRepoActivities</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyRepoActivities</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RaviDevDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=ravisqldbs.database.windows.net;Initial Catalog=RaviDevDB;User ID=ravi;Password=P@ssw0rd;Application Name=EntityFramework" Name="Data Source=ravisqldbs.database.windows.net;Initial Catalog=RaviDevDB;User ID=ravi;Password=P@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GitHubRepoActivities.Models.RaviDevDBEntities, GitHubRepoActivities" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RaviDevDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GitHubActivityEntities.csdl|res://*/Models.GitHubActivityEntities.ssdl|res://*/Models.GitHubActivityEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ravisqldbs.database.windows.net;Initial Catalog=RaviDevDB;User ID=ravi;Password=P@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>